<% if(failedMessage.length > 0){ %>
<div class="alert alert-danger" role="alert">
    <%= failedMessage %>
</div>
<% } %>
<% if(successMessage.length > 0){ %>
<div class="alert alert-success" role="alert">
    <%= successMessage %>
</div>
<% } %>